div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #5381d6;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

.container {
    width: 80%;
    margin: 50px auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th,
td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tfoot {
    background-color: #ddd;
}

tfoot td {
    font-size: 16px;
}

.titulo {
    color: #0d045e;
}

.subtitulo {
    color: #131c70;
}

.valor {
    font-size: 18px;
}

.saldo {
    font-size: 18px;
    color: green;
}

.tabela {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
}

.tabela th {
    background-color: #000449;
    color: white;
    padding: 10px;
}

.tabela td {
    padding: 10px;
    border: 1px solid #ddd;
}


.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    border: none;
    padding: 0;
}

.card {
    background-color: white;
    border: 1px solid #5381d6;
    border-radius: 12px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
    text-align: left;
    &:hover{
        transform: translateY(-5px);
    }
}

.categoria {
    color: #777;
    font-size: 13px;
    text-transform: uppercase;
}

.nome {
    color: #0d045e;
    margin: 12px 0;
}

.card .valor {
    color: #0b0164;
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
}

.desconto {
    display: inline-block;
    background-color: #0b0164;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}
.subtitulo1{
    display: flex;
    justify-content: center;
}
